<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rumi.contact">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".search"/>
        <activity android:name=".university"/>
        <activity android:name=".blood_group"/>
        <activity android:name=".dept"/>
        <activity android:name=".districts"/>
        <activity android:name=".profile"/>
        <activity android:name=".university_list"/>
        <activity android:name=".blood_list"/>
        <activity android:name=".districts_list"/>
        <activity android:name=".dept_list"/>
        <activity android:name=".search_list"/>
        <activity android:name=".about"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>